Repository kapysta000017/brello: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, pnpm run lint:js, stylelint --fix, pnpm run lint:css

chore: добавил конфиг под ide
  .editorconfig
  src/assets/react.svg
Due: none

chore: добавил алиас, файлы ненужные удалил
  src/App.css
  src/App.tsx
  src/app/index.tsx
  src/index.css
  src/main.tsx
  tsconfig.json
Due: prettier --write, eslint --fix, pnpm run lint:js, stylelint --fix, pnpm run lint:css

chore: добавил алиас в конфиг vite
  vite.config.ts
Due: prettier --write, eslint --fix, pnpm run lint:js

fix: добавил prettier в eslint конфиг, добавил базовую стилизацию
  .eslintrc.cjs
  src/app/index.tsx
  src/app/styles/index.css
Due: prettier --write, eslint --fix, pnpm run lint:js, stylelint --fix, pnpm run lint:css

chore: добавил stylelintrc
  .stylelintrc.json
  package.json
  pnpm-lock.yaml
Due: none

feat: add images, update index.html
  .env
  index.html
  public/apple-touch-icon.png
  public/favicon.ico
  public/icon-192.png
  public/icon-512.png
  public/icon-development.svg
  public/icon-production.svg
  public/icon.svg
  public/manifest.webmanifest
  public/social.jpg
  public/vite.svg
Due: none

chore: добавил конфиг babel, postcss, изменил конфиг lintstaged
  .babelrc
  .eslintrc.cjs
  .lintstagedrc.json
  .prettierignore
  package.json
  postcss.config.cjs
Due: none

feat: add ci/cd with actions styles and jobs
  .github/workflows/check.yml
Due: none

fix: пересоздал lock файл
  pnpm-lock.yaml
Due: none

fix: дал root тип
  src/main.tsx
Due: prettier --write, eslint --fix, pnpm run lint:js

docs: deploy badge
  README.md
Due: none

docs: пример работы с events
  .gitignore
Due: none

feat: add redirect file and update gitignore file
  .gitignore
  public/_redirects
Due: none

fix: add babel in plugin vite config
  vite.config.ts
Due: prettier --write, eslint --fix, pnpm run lint:js

feat: add config babel
  .gitignore
  src/app/index.tsx
  src/main.tsx
  src/shared/init/index.ts
Due: prettier --write, eslint --fix, pnpm run lint:js

feat: add api
  .env
  .gitignore
  package.json
  pnpm-lock.yaml
  src/app/index.tsx
  src/env.d.ts
  src/pages/auth/sign-in/index.tsx
  src/pages/auth/sign-in/model.ts
  src/shared.d.ts
  src/shared/api/client.ts
  src/shared/api/index.ts
  src/shared/api/rest/auth.ts
  src/shared/config/index.ts
Due: prettier --write, eslint --fix, pnpm run lint:js

Update .eslintrc.cjs
  .eslintrc.cjs
Due: none

feat: change elint rule
  .eslintrc.cjs
Due: none

feat: change tsconfign
  tsconfig.json
Due: none

feat: chage path
  src/shared/api/client.ts
Due: prettier --write, eslint --fix, pnpm run lint:js

feat: change rule in eslint
  .eslintrc.cjs
Due: none

feat: change rule
  .eslintrc.cjs
Due: none

fix: add fx in effect var
  src/shared/api/rest/auth.ts
Due: prettier --write, eslint --fix, pnpm run lint:js

feat: добавил auth логики и условный рендиринг
  src/app/index.tsx
  src/pages/auth/sign-in/index.tsx
  src/pages/auth/sign-in/model.ts
  src/shared/api/client.ts
  src/shared/api/database.types.ts
  src/shared/api/rest/auth.ts
  src/shared/api/rest/common.ts
Due: prettier --write, eslint --fix, pnpm run lint:js

feat: изменил порядок инкрементации модел файла
  src/pages/auth/sign-in/model.ts
Due: prettier --write, eslint --fix, pnpm run lint:js

Path conditions:
  prettier --write: any of: **/*.{ts,tsx,css}
  eslint --fix: any of: **/*.{ts,tsx,js}
  pnpm run lint:js: any of: **/*.{ts,tsx,js}
  stylelint --fix: any of: *.css
  pnpm run lint:css: any of: *.css
